.footer {
  background-color: #222;
  color: #fff;
  padding: 1em;
  text-align: center;
}
.footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.footer ul:last-of-type {
    margin-bottom: 0; /* Remove a margem da última lista, se necessário */
}
.footer ul li {
  margin: 0 1em;
}
.footer ul li:hover {
  color: #27c213;
  text-decoration: none;
  transform: scale(1.1);
}
.footer svg {
  font-size: 1.5em;
  cursor: pointer;
}
.copyright {
  margin-top: 2em;
}
.copyright span {
  font-weight: bold;
  color: #27c213;
}
