.container{
    font-size: 30px;
    justify-content: space-between;
    margin-left: 2%;
    color: black    ;

}

.card_dados{
text-align: left;
background-color: white;
border-radius: 10px;
padding: 1em;
max-width: 50%;
word-wrap: break-word;

}

.card_endereco{
    text-align: left;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    max-width: 50%;
    margin-top: 10%;
    word-wrap: break-word;
    margin-bottom: 10px;
}

h1 {
    color: black;
    font-size: 60px;
}
.sem_perfil{
    font-weight: bold;
    background-color: white;
    font-size: 40px;
    padding: 10em;
    color: rgb(133, 0, 0);
    display: grid;
}
.card_button{
    text-align: left;
    
}
.deslogar{

  padding: 1.0rem 2.2rem;
  background-color: #f81a0a;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  margin-left: 2%;
}

.deslogar:hover{
    background-color: #bb1307;
    font-weight: bold;
}

.card_button_cliente{
    text-align: right;
    margin-right: 10px;
    
    
}