.container{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    padding: 2em;
    color: black    ;
    text-shadow: 1px 1px 0 white,
               -1px -1px 0 white,
}

.card_dados{
text-align: left;
}

.card_endereco{
    text-align: right;
}

h1 {
    color: black;
    font-size: 60px;
}